<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Planner Dashboard</title>
</head>

<body>
    <header>
        @await Html.PartialAsync("_Navbar")
    </header>

    <body>
        @model MyViewModel

        <h1 class="display-5">List of Weddings: </h1>
        <table class="table">
            <tr>
                <th>Wedding of</th>
                <th>Date</th>
                <th>Guest Count</th>
                <th>Action</th>
            </tr>

            @foreach (Wedding wedding in Model.AllWeddings)
            {
                int? LoggedInUserId = Context.Session.GetInt32("UserId");
                //every loop i get a new association. I run it through the association to see if there exist an association
                //between the wedding and logged in user

                //Initializing an association by tracking the particular Logged In User's ID
                Association? association = wedding.GuestList.FirstOrDefault(g => g.UserId == LoggedInUserId);
                int total = wedding.GuestList.Count + 1;
                <tr>
                    <td><a href="/wedding/@wedding.WeddingId">@wedding.WedderOne & @wedding.WedderTwo</a></td>
                    <td>@wedding.Date.ToString("MM/dd/yyyy")</td>
                    <td>@total</td>
                    <td>
                        @if (wedding.Creator == LoggedInUserId)
                        {
                            <form action="/wedding/@wedding.WeddingId/delete" method="post">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        }
                        else if (association != null)
                        {
                            <form action="/association/@association.AssociationId/delete" method="post">
                                <button class="btn btn-primary">UnRSVP</button>
                            </form>
                        }
                        else
                        {
                            <form action="/association/create" method="post">
                                <input type="hidden" name="WeddingId" value="@wedding.WeddingId">
                                <input type="hidden" name="UserId" value='@LoggedInUserId'>
                                <button class="btn btn-primary">RSVP</button>
                            </form>
                        }
                        @* Form above is used for creating an association in regard with Guest List. If not on Guest list
                    then not on RSVP button state *@
                    </td>
                </tr>
            }
        </table>
    </body>

</body>

</html>