<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUDelicious - View Dish</title>
</head>

<body>
    @model Dish
    <h1>Dish Details: </h1>
    <h3>Name: @Model.Name</h3>
    <h3>Chef: @Model.Chef</h3>
    <h3>Tastiness: @Model.Tastiness</h3>
    <h3>Calories: @Model.Calories </h3>
    <h3>Description: @Model.Description</h3>
</body>

</html>