<div class="text-center">
    <h1 class="display-4">Products and Categories</h1>
    <hr>
    <p><a href="/">Products</a> | <a href="/categories">Categories</a></p>
    <hr>
    @model MyViewModel
    <h1 class="display-4">@Model.Product.Name</h1>
    <section class="d-flex justify-content-around">
        <div>
            <h1 class="display-6 mt-3">Categories</h1>
            <ul>
                @foreach (Association p in @Model.Product.PAssociations)
                {
                    <li>@p.Category.Name</li>
                }
            </ul>
        </div>
        <div>
            <h1 class="display-6 mt-3">Add Category</h1>
            <form action="/associationp/create" method="post">
                <select class="form-select mb-4" name="CategoryId">
                    @foreach (Category c in Model.AllCategories)
                    {
                        <option value="@c.CategoryId">@c.Name</option>
                    }
                </select>
                <input type="hidden" name="ProductId" value="@Model.Product.ProductId">
                <input type="submit" value="Add" class="btn btn-primary">
            </form>
        </div>
    </section>
</div>